[submodule "TcellDev"]
	path = TcellDev
	url = git@github.com:QuKunLab/T-cell-development.git
[submodule "CSHMM-for-time-series-scRNA-Seq"]
	path = CSHMM-for-time-series-scRNA-Seq
	url = git@github.com:jessica1338/CSHMM-TF-for-time-series-scRNA-Seq.git
[submodule "CSHMM-for-time-series-scRNA-Seq-py3"]
	path = CSHMM-for-time-series-scRNA-Seq-py3
	url = git@github.com:jessica1338/CSHMM-TF-for-time-series-scRNA-Seq.git
[submodule "CSHMM-TF-for-time-series-scRNA-Seq"]
	path = CSHMM-TF-for-time-series-scRNA-Seq
	url = git@github.com:TranscriptionFactory/CSHMM-TF-for-time-series-scRNA-Seq.git
